<h3>By Speaker</h3>

<select name="speaker" data-placeholder="Pick a politician...">
    <option value=""></option>
    {{#each speakers}}
    <option value="{{person_id}}">{{first_name}} {{last_name}}</option>
    {{/each}}
</select>

<h3>By Party</h3>

<select name="party" data-placeholder="Pick a party...">
    <option value=""></option>
    {{#each parties}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>