<td class="text">
	<span class="keyword-text">{{text}}</span> 
	<div class="search-links">
		Search on
		<a title="Search for “{{text}}” on OpenAustralia" data-bypass target="_BLANK" class="openaustralia-link" href="{{OAurl}}">OpenAustralia</a>
		or
		<a title="Search for “{{text}}” on Party Lines" data-bypass target="_BLANK" class="partylines-link" href="{{url}}">Party Lines</a>
	</div>
</td>
<td class="frequency">{{frequency}}</td>
