<h3>By Speaker</h3>

<select name="speaker" data-placeholder="Pick a politician..." width="220">
    <option value=""></option>
    {{#each speakers}}
    <option value="{{speaker_id}}">{{first_name}} {{last_name}} {{roleAndTenure}}</option>
    {{/each}}
</select>

<h3>By Party</h3>

<select name="party" data-placeholder="Pick a party..." width="220">
    <option value=""></option>
    {{#each parties}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>

<div class="seehow"><a href="" target="_BLANK">See how The Global Mail is using PoliTalk.</a></div>
