<td class="text"><a class="partylines" target="_BLANK" href="{{url}}">{{text}}</a> <a data-bypass target="_BLANK" class="openaustralia-link" href="{{OAurl}}">Open Australia</a> <a data-bypass target="_BLANK" class="partylines-link" href="{{url}}">Party Lines</a></td>
<td class="frequency">{{frequency}}</td>
