<td class="speaker">{{speaker}} <span>{{partyAbbreviation}}, {{houseName}}</span></td>
<!-- <td>{{partyAbbreviation}}</td>
<td>{{houseName}}</td> -->
<td class="duration">{{durationString}}</td>
<td class="speeches">{{speeches}}</td>
<td class="interjections">{{interjections}}</td>