<td class="speaker">
    <div class="avatar-wrapper">
        <div class="avatar">
            <img src="{{imageUrl}}" alt="{{first_name}} {{last_name}}">
        </div>
    </div>
    <div class="speaker-info">
      {{first_name}} {{last_name}}
      <span>
  		{{party}}, {{houseName}} {{tenure}}.
  		<br/>
      	<strong>
  		<a href="#speaker/{{speaker_id}}">
  			Frequently used phrases »
		</a>
  		</strong>
      </span>
    </div>
</td>

<td class="speeches">{{speeches}}</td>
<td class="interjections">{{interjections}}</td>
