<td class="speaker">{{speaker}} <span>{{party}}, {{houseName}}</span></td>
<td class="duration">{{durationString}}</td>
<td class="speeches">{{speeches}}</td>
<td class="interjections">{{interjections}}</td>