<td class="speaker">
    <div class="avatar-wrapper">
        <div class="avatar">
            <img src="http://data.openaustralia.org/members/images/mpsL/{{person_id}}.jpg" alt="{{first_name}} {{last_name}}" onerror="this.src='/modules/members/img/avatar.png'">
        </div>
    </div>
    {{first_name}} {{last_name}} <span>{{party}}, {{houseName}}</span>
</td>
<td class="duration">{{durationString}}</td>
<td class="speeches">{{speeches}}</td>
<td class="interjections">{{interjections}}</td>