<td class="speaker">
    <div class="avatar-wrapper">
        <div class="avatar">
            <img src="http://data.openaustralia.org/members/images/mpsL/{{person_id}}.jpg" alt="{{first_name}} {{last_name}}" data-fallback-src="/modules/members/img/avatar.png">
        </div>
    </div>
    <a href="#person/{{person_id}}">{{first_name}} {{last_name}}</a> <span>{{party}}, {{houseName}}</span>
</td>
<td class="duration">{{durationString}}</td>
<td class="speeches">{{speeches}}</td>
<td class="interjections">{{interjections}}</td>