<td class="speaker">
    <div class="avatar-wrapper">
        <div class="avatar">
            <img src="{{imageUrl}}" alt="{{first_name}} {{last_name}}">
        </div>
    </div>
    <div class="speaker-info">
      <a href="#speaker/{{speaker_id}}">{{first_name}} {{last_name}}</a> <span>{{party}}, {{houseName}} {{tenure}}</span>
    </div>
</td>

<td class="speeches">{{speeches}}</td>
<td class="interjections">{{interjections}}</td>
